<!--banner-->

<div class="banner-bg banner-bg1">
	<%= render partial: "shared/topnav" %>
	<div class="caption">
		 <div class="slider">
					   <div class="callbacks_container">
						   <ul class="rslides" id="slider">
							    <li><h1>NACHOMOMS PALEO</h1></li>
						  </ul>
              <p class="med">More Paleo
        than all your most <em>hipster-paleo-diet-eating-crossfiting-friends</em>,<br>
        the <span><strong>ULTIMATE PALEO,</strong></span><br>the <span><strong>PALEOEST</strong></span></p>
              <%= link_to "SHOP", items_path, class:"morebtn" %>
					  </div>
				  </div>
	</div>
</div>
<!--/banner-->
