
<div id="cate" class="categories">
	 <div class="container">
		 <h3>CATEGORIES</h3>
		 <div class="categorie-grids">
			 <a href="bicycles.html"><div class="col-md-4 cate-grid grid1">
				 <h4>DINOSAUR MEAT</h4>
				 <p>It doesn't get anymore paleo than this!</p>
				 <a class="store" href="/meats">Shop</a>
			 </div></a>
			 <a href="bicycles.html"><div class="col-md-4 cate-grid grid2">
				 <h4>DINOSAUR EGGS</h4>
				 <p>Fresh, Tender, &amp;  Innocent</p>
				 <a class="store" href="/eggs">Shop</a>
			 </div></a>
			 <a href="bicycles.html"><div class="col-md-4 cate-grid grid3">
				 <h4>PLANTS</h4>
				 <p>The original organic farm</p>
				 <a class="store" href="/plants">Shop</a>
			 </div></a>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
