
<div class="footer">
	 <div class="container wrap">
		<div class="logo2">
			 <a href="/"><%= image_tag "logo2" %></a>
		</div>
		<div class="ftr-menu">
			 <ul>
				 <li><a href="/meats">DINOSAUR MEAT</a></li>
				 <li><a href="/eggs">DINOSAUR EGGS</a></li>
				 <li><a href="/plants">PLANTS</a></li>
			 </ul>
		</div>
		<div class="clearfix"></div>
	 </div>
</div>
