<div class="footer">
		<div class="container">
			<ul id="nav">
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Terms of Service</a></li>
			</ul>
		</div>
</div>
