<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "application" %>
<meta charset="utf-8">
<!-- Latest compiled and minified CSS -->
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<title>Thrive Lending | Make Your Money Work For You</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
