html, body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

.choices {
  text-align: center
}

.bottom-button{
  padding-bottom: 40px;
}

.alert {
  position: fixed;
  top: 100px;
  left: 50%;
  width: 300px;
  margin-left: -150px; /* this needs to be 1/2 the width */
  z-index: 7000;
}

.signup {
  text-align: center;
}

.signup > p {
  color: #ccc;
  font-size: .7em;
}

.wrapper {
  position: relative;
  min-height: 100%;
  padding: 0px;
}
.header {
  border-top: 5px solid #669900;
  background: #222;
  padding: 20px;
}

.header img{
  max-height: 70px;
}

.navbar-nav > li > a {
  padding-top: 30px;
  padding-bottom: 10px;
  color: #669900;
  text-transform: uppercase;
}

.navbar-nav > li > a:hover {
  background-color: transparent;
  color: #ffffff
}

.intro-header {
  padding-top: 50px;
  padding-bottom: 50px;
  background: url(header.jpg) no-repeat center;
  background-size: cover;
  height: 600px;
}

.intro-message > h1 {
  color: white;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  padding-top: 50px;
  font-size: 2.5em;
}

.mainbody {
  padding-top: 25px;
  padding-bottom: 100px;
}
.mainbody .autoplay {
  overflow: hidden;
}

.mainbody #auto img {
  max-height: 200px;
  width: auto
}

.mainbody #featured-list img {
  max-height: 100px;
  width: auto;
}

@media only screen and (max-width: 1200px) {
  #auto {
    display:none;
  }
}

@media not screen and (max-width: 1200px) {
  #featured-list {
    display: none;
  }
}

.featured-members-text {
  text-align: center
}

.featured-members-text > h3 {
  font-weight: lighter;
  font-size: 1.5em;
  line-height: 1.7em;
}
.featured-members-text > h5 {
  font-size: 1em;
  padding-bottom: 30px;
}

.footer {
  background: #222;
  position: absolute;
  width: 100%;
  bottom: 0px;
  margin-bottom: 0px;
  left: 0px;
  height: 50px;
}

.footer ul {
  margin-bottom: 0px;
}

.footer a {
  color: #669900;
}

.footer a:hover {
  color: #fff;
  text-decoration: none;
}

.nav-pills a:hover {
  background-color: #669900;
  color: #fff;
}

#nav {
  width: 100%;
  display: table;
}

#nav li {
  display: table-cell;
  height: 50px;
  width: 33%;
  line-height: 50px;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
}​

.user-dashboard {
  padding-top: 25px;
}

.user-menu {
  padding: 5px;
  margin: 5px;

}

.stats {
  padding: 5px;
  /*margin: 5px;*/
  border-radius: 5px;
}
.stats > table {
  text-align: center;
}
/*LOGIN FORM*/
/* Stylesheet */


/* Imports */

@import url(animate.css);

/* Selections */

::selection {
 	color: #fff;
 	text-shadow: none;
 	background: #444;
}

::-moz-selection {
 	color: #fff;
 	text-shadow: none;
 	background: #444;
}

/* Basics */
html, body {
	width: 100%;
	height: 100%;
	color: #444;
	-webkit-font-smoothing: antialiased;
	background: #f0f0f0;

}

#container {
	position: fixed;
	width: 340px;
	height: 280px;
	top: 50%;
	left: 50%;
	margin-top: -140px;
	margin-left: -170px;
	background: #fff;
	border-radius: 3px;
	border: 1px solid #ccc;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	-webkit-animation-name: bounceIn;
	-webkit-animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: bounceIn;
	-moz-animation-fill-mode: both;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: linear;
	animation-name: bounceIn;
	animation-fill-mode: both;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}

form {
	margin: 0 auto;
	margin-top: 20px;
}

label {
	color: #555;
	display: inline-block;
	margin-left: 18px;
	padding-top: 10px;
	font-size: 14px;
}

p a {
	font-size: 11px;
	color: #aaa;
	float: right;
	margin-top: -13px;
	margin-right: 20px;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	transition: all .4s ease;
}

p a:hover {
	color: #669900;
}

input {
	font-size: 12px;
	outline: none;
}

input[type=name],
input[type=password] {
	color: #777;
	padding-left: 10px;
	margin: 10px;
	margin-top: 12px;
	margin-left: 18px;
	width: 290px;
	height: 35px;
	border: 1px solid #c7d0d2;
	border-radius: 2px;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	transition: all .4s ease;
}

input[type=name]:hover,
input[type=password]:hover {
	border: 1px solid #b6bfc0;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f5f7f8;
}

input[type=name]:focus,
input[type=password]:focus {
	border: 1px solid #a8c9e4;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #e6f2f9;
}

#lower {
	background: #ecf2f5;
	width: 100%;
	height: 69px;
	margin-top: 20px;
	box-shadow: inset 0 1px 1px #fff;
	border-top: 1px solid #ccc;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

input[type=checkbox] {
	margin-left: 20px;
	margin-top: 30px;
}

.check {
	margin-left: 3px;
	font-size: 11px;
	color: #444;
	text-shadow: 0 1px 0 #fff;
}

input[type=submit], .link-button, .link-button:hover {
	float: right;
	margin-right: 20px;
	margin-top: 15px;
  padding:6px;
	/*width: 80px;*/
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#669900), to(#669900));
	background-image: -moz-linear-gradient(top left 90deg, #669900 0%, #669900 100%);
	background-image: linear-gradient(top left 90deg, #669900 0%, #669900 100%);
	border-radius: 10px;
	border: 2px solid #669900;
	cursor: pointer;
  text-decoration: none;
}

.index-page, .index-page:hover {
  margin-top: 0px;
}



/*input[type=submit]:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b6e2ff), to(#6ec2e8));
	background-image: -moz-linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
	background-image: linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
}*/

input[type=submit]:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6ec2e8), to(#b6e2ff));
	background-image: -moz-linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
	background-image: linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
}

.cart-box {
	margin-bottom: 60px;
}


/*LOGIN FORM END*/
