<div class="cart">
	<div class="container">
		<div class="cart-top">
			<h4>Your Orders</h4>
    </div>
		<div class="cart-conclusion">
			<%= render partial: "shared/orders", locals: { orders:@orders } %>
		</div>
	</div>
</div>
