<div class="mainbody">
  <div class="container">
    <div class="choices row">
      <div class="col-md-12 page-header">
        <h1>Let's Get Started Today!</h1>
      </div>
    </div>
    <div class="choices row">
      <div class="col-md-6">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h2>Loan Offers</h2>
          </div>
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item">
              Virtually instant electronic fund transfers!
            </li>
            <li class="list-group-item">
              Find the interest rate that fits your needs!
            </li>
            <li class="list-group-item">
              Flexible loan terms to fit your monthly payments!
            </li>
            <li class="list-group-item">
              Hundreds of highly-rated lenders waiting to give you their moneys!
            </li>
          </ul>
          <div class="panel-footer">
            <%= link_to "CREATE A LOAN OFFER!", new_loan_offer_path, class: "btn btn-lg btn-block btn-success" %>
          </div>
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h2>Loan Requests</h2>
          </div>
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item">
              Pre-verified and credit-checked borrowers!
            </li>
            <li class="list-group-item">
              Guaranteed returns on your investment!
            </li>
            <li class="list-group-item">
              Monthly update on portfolio worth!
            </li>
            <li class="list-group-item">
              Low monthly fees!
            </li>
          </ul>
          <div class="panel-footer">
            <%= link_to "CREATE A LOAN REQUEST!", new_loan_request_path, class: "btn btn-lg btn-block btn-info" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
