<div class="404-page">
	 <div class="container">
		 <div class="error-head">
			 <h1>4<label>0</label>4</h1>
			 <span>ERROR</span>
			 <h2>Ooops....!This page is not found.</h2>
       <%= link_to "Go Back Home", root_path %>
		 </div>
	 </div>
</div>
